@model IEnumerable<Inventory_Managment_System.Models.Classes.Product>

@{
    ViewData["Title"] = "getAllProduts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>getAllProduts</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.priceFraction)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.stockQuantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.minimunStock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.categoryId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.supplierId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.priceFraction)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.stockQuantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.minimunStock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.categoryId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.supplierId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
